body{
    margin: 0%;
}
.pr{
    box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.5);
  filter: blur(1px);

}
.pregrad{
    background: linear-gradient(to bottom left, #992CF9, #DDD6EF);
    width: 100%;
    text-align: center;
    padding-bottom: 1%;
}
.premain{
    width: 100%;
    text-align: center;
    z-index: 2;
    padding-bottom: 1%;
}
.premain p{
  
    font-style: oblique;
    font-size: 150%;
    text-align: center;
}
.premain img{
    margin-top: 1%;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border-radius: 50%;
}
.premain hr{
    margin-left: auto; 
    margin-right: auto;
}
@media screen and (max-device-width:480px) and (orientation: portrait){
    .premain hr{
        width: 50%;
    }
    .premain img{
        margin-top: 1%;
        width: 20vw;
        height: 20vw;
    }
}
@media screen and (max-device-width:480px) and (orientation: landscape){
    .premain hr{
        width: 30%;
    }
}
@media screen and (min-width:769px){
    .premain hr{
        width: 30%;
    }
}